---
import Layout from "../layouts/Layout.astro";
import { fetchData } from "../utils/fetchData";

const categorias = await fetchData("categorias");

function normalizeString(str) {
  return str
    .normalize("NFD")
    .replace(/[\u0300-\u036f]/g, "")
    .toLowerCase()
    .trim()
    .replace(/\s+/g, "-")
    .replace(/[^a-z0-9\-]/gi, "")
    .replace(/-+/g, "-");
}
---

<Layout title="Categorías">
  <div class="container mx-auto p-6">
    <h1 class="text-5xl font-extrabold mb-12 text-center text-gray-800">
      Categorías Principales
    </h1>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
    >
      {
        categorias && categorias.length > 0 ? (
          categorias.map((categoria) => (
            <a
              href={
                categoria.disponible === "True"
                  ? `/${normalizeString(categoria.nombre)}`
                  : "#"
              }
              class={`block bg-white shadow-xl rounded-lg overflow-hidden transition-transform transform ${categoria.disponible === "True" ? "hover:scale-105" : "cursor-not-allowed"}`}
            >
              <div class="flex flex-col items-center h-full">
                <img
                  src={categoria.imagen}
                  alt={`Imagen de ${categoria.nombre}`}
                  class="w-40 h-40 mt-6 mb-4 object-cover"
                />
                <div class="p-4 flex flex-col items-center text-center flex-grow">
                  <h2 class="text-2xl font-bold text-gray-700 mb-2">
                    {categoria.nombre}
                  </h2>
                  <p class="text-gray-600 mb-6">{categoria.descripcion}</p>
                </div>
                <div class="w-full mt-auto p-4 flex justify-center">
                  <span
                    class={`px-5 py-3 rounded-full transition ${categoria.disponible === "True" ? "bg-blue-600 text-white hover:bg-blue-700" : "bg-gray-400 text-gray-700"}`}
                  >
                    {categoria.disponible === "True"
                      ? "Explorar más"
                      : "PROXIMAMENTE"}
                  </span>
                </div>
              </div>
            </a>
          ))
        ) : (
          <p class="col-span-full text-center text-red-500">
            No se pudieron cargar las categorías.
          </p>
        )
      }
    </div>
  </div>
</Layout>
