---
// Importa el layout y la función de obtención de datos
import Layout from "../layouts/Layout.astro";
import { fetchData } from "../utils/fetchData";

// Obtiene las categorías de la API
const categorias = await fetchData("categorias");
function normalizeString(str) {
  return str
    .normalize("NFD")
    .replace(/[\u0300-\u036f]/g, "")
    .toLowerCase()
    .trim()
    .replace(/\s+/g, "-")
    .replace(/[^a-z0-9\-]/gi, "")
    .replace(/-+/g, "-");
}
---

<Layout title="Categorías">
  <h1>Categorías Principales</h1>
  <div>
    {
      categorias && categorias.length > 0 ? (
        categorias.map((categoria) => (
          <div>
            <img
              src={categoria.imagen}
              alt={`Imagen de ${categoria.nombre}`}
              style="width: 100px; height: 100px;"
            />
            <h2>{categoria.nombre}</h2>
            <p>{categoria.descripcion}</p>
            <a href={`/${normalizeString(categoria.nombre)}`}>Explorar más</a>
          </div>
        ))
      ) : (
        <p>No se pudieron cargar las categorías.</p>
      )
    }
  </div>
</Layout>
